*{
  margin:0;
  padding:0;
  list-style: none;
}

body{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.container{
  width:1140px;
  margin: 0 auto;
  padding-top:40px;
}

.searchbar{
  width:100%;
  height:48px;
  padding: 20px;
  font-size:200%;
  margin-bottom:20px;
}

.name-list__item{
  font-size: 200%;
}
